[Desktop Entry]
Name=ktp-contact-runner
Name[ast]=ktp-contact-runner
Name[bg]=ktp-contact-runner
Name[bs]=ktp-contact-runner
Name[ca]=ktp-contact-runner
Name[ca@valencia]=ktp-contact-runner
Name[cs]=ktp-contact-runner
Name[da]=ktp-contact-runner
Name[de]=ktp-contact-runner
Name[el]=ktp-contact-runner
Name[en_GB]=ktp-contact-runner
Name[eo]=ktp-contact-runner
Name[es]=ktp-contact-runner
Name[et]=ktp-contact-runner
Name[fi]=ktp-contact-runner
Name[fr]=ktp-contact-runner
Name[ga]=ktp-contact-runner
Name[gl]=ktp-contact-runner
Name[hu]=ktp-contact-runner
Name[it]=ktp-contact-runner
Name[ja]=ktp-contact-runner
Name[kk]=ktp-contact-runner
Name[km]=ktp-contact-runner
Name[ko]=ktp-contact-runner
Name[lv]=ktp-contact-runner
Name[nb]=ktp-contact-runner
Name[nds]=ktp-contact-runner
Name[nl]=ktp-contact-runner
Name[nn]=ktp-contact-runner
Name[pa]=ktp-contact-runner
Name[pl]=ktp-contact-runner
Name[pt]=ktp-contact-runner
Name[pt_BR]=ktp-contact-runner
Name[ro]=ktp-contact-runner
Name[ru]=ktp-contact-runner
Name[sk]=ktp-contact-runner
Name[sq]=ktp-contact-runner
Name[sr]=ktp-contact-runner
Name[sr@ijekavian]=ktp-contact-runner
Name[sr@ijekavianlatin]=ktp-contact-runner
Name[sr@latin]=ktp-contact-runner
Name[sv]=ktp-contact-runner
Name[tr]=ktp-contact-runner
Name[ug]=ktp-contact-runner
Name[uk]=ktp-contact-runner
Name[x-test]=xxktp-contact-runnerxx
Name[zh_CN]=ktp-contact-runner
Name[zh_TW]=ktp-contact-runner
Comment=ktp-contact-runner runner
Comment[ast]=Llanzador pa ktp-contact-runner
Comment[bs]=ktp-contact-runner izvršilac
Comment[ca]=Llançador de ktp-contact-runner
Comment[ca@valencia]=Llançador de ktp-contact-runner
Comment[cs]=ktp-contact-runner runner
Comment[da]=ktp-contact-runner-runner
Comment[el]=εκτελεστής ktp-contact-runner
Comment[en_GB]=ktp-contact-runner runner
Comment[es]=Lanzador para ktp-contact-runner
Comment[et]=ktp-contact-runner käivitaja
Comment[fi]=ktp-contact-runner-suoritusohjelma
Comment[fr]=Lanceur ktp-contact-runner
Comment[ga]=Feidhmitheoir ktp-contact-runner
Comment[gl]=Executor ktp-contact-runner
Comment[hu]=ktp-contact-runner-futtató
Comment[it]=Esecutore di ktp-contact-runner
Comment[ja]=ktp-contact-runner runner
Comment[kk]=ktp-contact-runner жеккіші
Comment[km]=កម្មវិធី​រត់ ktp-contact-runner​
Comment[ko]=ktp-contact-runner 실행기
Comment[lv]=ktp-contact-runner darbinātājs
Comment[nb]=ktp-contact-runner-kjører
Comment[nds]=ktp-contact-runner-Dreger
Comment[nl]=ktp-contact-runner-starter
Comment[nn]=ktp-contact-runner-køyrar
Comment[pa]=ktp-contact-runner ਰਨਰ
Comment[pl]=Uruchamianie ktp-contact-runner
Comment[pt]=Execução do ktp-contact-runner
Comment[pt_BR]=Execução do ktp-contact-runner
Comment[ro]=Lansator ktp-contact-runner
Comment[ru]=Способ запуска ktp-contact-runner
Comment[sk]=ktp-contact-runner runner
Comment[sq]=ktp-contact-runner runner
Comment[sr]=ktp-contact-runner извођач
Comment[sr@ijekavian]=ktp-contact-runner извођач
Comment[sr@ijekavianlatin]=ktp-contact-runner izvođač
Comment[sr@latin]=ktp-contact-runner izvođač
Comment[sv]=Körning av ktp-contact-runner
Comment[tr]=ktp-contact-runner çalıştırıcı
Comment[uk]=Засіб запуску ktp-contact-runner
Comment[x-test]=xxktp-contact-runner runnerxx
Comment[zh_CN]=ktp-contact-runner 启动器
Comment[zh_TW]=ktp-contact-runner 執行器
Icon=

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_ktp-contact-runner
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=ktp-contact-runner
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
