[Desktop Entry]
Name=Instant Messaging Contacts
Name[ca]=Contactes de missatgeria instantània
Name[da]=Instant messaging-kontakter
Name[de]=Instant-Messenger-Kontakte
Name[el]=Επαφές στγμιαίων μηνυμάτων
Name[es]=Contactos de mensajería instantánea
Name[et]=Kiirsuhtluskontaktid
Name[fi]=Pikaviestinkäyttäjät
Name[fr]=Contacts de messagerie instantanée
Name[gl]=Contactos de mensaxaría instantánea
Name[hu]=Azonnali üzenetküldési partnerek
Name[it]=Contatti di messaggistica istantanea
Name[lt]=Greitųjų žinučių kontaktai
Name[nl]=Contactpersonen van Instant Messaging
Name[pl]=Kontakty komunikatorów internetowych
Name[pt]=Contactos das Mensagens Instantâneas
Name[pt_BR]=Contatos de mensagens instantâneas
Name[sk]=Kontakty priamej komunikácie
Name[sr]=Брзогласнички контакти
Name[sr@ijekavian]=Брзогласнички контакти
Name[sr@ijekavianlatin]=Brzoglasnički kontakti
Name[sr@latin]=Brzoglasnički kontakti
Name[sv]=Direktmeddelandekontakter
Name[uk]=Контакти миттєвого обміну повідомленнями
Name[x-test]=xxInstant Messaging Contactsxx
Name[zh_CN]=即时通讯联系人
Name[zh_TW]=即時訊息聯絡人
Comment=Start chat with any of your IM contacts
Comment[ca]=Inicia un xat amb qualsevol dels vostres contactes de MI
Comment[cs]=Začít rozhovor s kterýmkoliv vaším kontaktem v IM
Comment[da]=Start chat med en af dine IM-kontakter
Comment[de]=Chats mit ihren Kontakten starten
Comment[el]=Έναρξη συνομιλίας με οποιαδήποτε επαφή στιγμιαίων μηνυμάτων
Comment[es]=Iniciar una charla con cualquiera de sus contactos de MI
Comment[et]=Vestluse alustamine mõne oma kiirsuhtluskontaktiga
Comment[fi]=Aloita keskustelu muun pikaviestinkäyttäjän kanssa
Comment[fr]=Démarre une discussion avec n'importe lequel de vos contacts de MI
Comment[gl]=Inicie unha conversa con calquera dos seus contactos
Comment[hu]=Csevegjen az azonnali üzenetküldési partnereivel
Comment[it]=Avvia una chat con un tuo contatto di messaggistica istantanea
Comment[nl]=Begin een chat met een van uw IM-contactpersonen
Comment[pl]=Rozpocznij rozmowę z kimkolwiek z twoich kontaktów z komunikatora
Comment[pt]=Iniciar uma conversa com qualquer um dos seus contactos MI
Comment[pt_BR]=Inicia um bate-papo com qualquer um dos seus contatos de MI
Comment[sk]=Spustiť rozhovor s nejakým z vašich IM kontaktov
Comment[sr]=Започните ћаскање преко ИМ контакта
Comment[sr@ijekavian]=Започните ћаскање преко ИМ контакта
Comment[sr@ijekavianlatin]=Započnite ćaskanje preko IM kontakta
Comment[sr@latin]=Započnite ćaskanje preko IM kontakta
Comment[sv]=Börja chatta med någon direktmeddelandekontakt
Comment[uk]=Почати спілкування з будь-яким з ваших контактів у системах обміну повідомленнями
Comment[x-test]=xxStart chat with any of your IM contactsxx
Comment[zh_CN]=与任意您的即时通讯联系人开始聊天
Comment[zh_TW]=與您的即時訊息聯絡人開始聊天
Icon=user-online

X-KDE-ServiceTypes=Plasma/Runner
Type=Service
X-KDE-Library=krunner_ktp_contacts
X-KDE-PluginInfo-Author=Dan Vratil
X-KDE-PluginInfo-Email=dan@progdan.cz
X-KDE-PluginInfo-Name=ktp_contacts
X-KDE-PluginInfo-Version=0.4
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
